.s-userGrid {
  padding: 2rem 1rem;
  &__table {
    width: 100%;
    border-top: 8px solid #e10600;
    border-left: 8px solid #e10600;
    border-radius: 0.25rem;
    &__head {
      tr {
        td {
          padding: 1rem;
          font-weight: 700;
        }

      }

    }
    &__body {
      tr {
        td {
          padding: 1rem;

        }
      }
      tr:nth-child(odd) {
        background: #f4f4f4;
      }
    }
  }
}

$s : 480px;
$m : 768px;
$l : 1024px;
$xl : 1250px;

@media only screen and (min-width: $m) {
  .s-userGrid {
    padding: 4rem 2rem;

  }
}