<div class="s-userGrid">
    <h1>Gebruikers</h1>
    <table class="s-userGrid__table">
        <thead class="s-userGrid__table__head">
            <tr>
                <td>Naam</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody class="s-userGrid__table__body">
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="s-userGrid__actions">
        <a class="btn-red" href="{{ path('admin_user_create') }}">+ Add user</a>
    </div>
</div>