.s-modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 55%;
  position: relative;
  border-radius: 0.25rem;
  &__header {
    width: 100%;
    padding-top: 3rem;
    > img {
      position: absolute;
      top: 0;
      right: 0;
      max-height: 100%;
    }
  }
  &__body {
    padding: 1rem;
    &__name {
      font-family: 'Squada One', cursive;
      font-size: 2rem;
      color: #ffffff;
    }
    > p {
      color: #ffffff;
      width: 60%;
      font-size: 0.875rem;
    }
  }
}

/* The Close Button */
.close-driver {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-driver:hover,
.close-driver:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}