<span>Beste {{ email }}</span>
<br/>
<p>Maak nu je account aan voor de formule 1 Toppy poule!</p>
<br/>
<p>Klik op deze <a href="{{ url }}">link</a> om een account aan te maken:</p>
<br/>
<span>Mogen de beste winnen!</span>
